<h1> <u>Drought Prediction</u>: Data Wrangling </h1>

<h3> Initial Import of Libraries and Loading of Data </h3>

<b> Import Libraries</b>

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

# from library.sb_utils import save_file

<b> Load Soil, Meteorological, and Drought Data. </b>

In [2]:
# Data dictionary and data downloaded from Kaggle on 3/27/2022 at: 
# https://www.kaggle.com/datasets/cdminix/us-drought-meteorological-data
# Local location of the data
local_data = 'D:\\Data_Science\\DroughtProject\\Data\\'

# The data is split into four csv files.
# Load all four files
soil_set = pd.read_csv(local_data + 'soil_data.csv')
test_set = pd.read_csv(local_data + 'test_timeseries.csv')
train_set = pd.read_csv(local_data + 'train_timeseries.csv')
validation_set = pd.read_csv(local_data + 'validation_timeseries.csv')

<b> Information summary of loaded data. </b>

In [4]:
soil_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3109 entries, 0 to 3108
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fips           3109 non-null   int64
 1   lat            3109 non-null   float64
 2   lon            3109 non-null   float64
 3   elevation      3109 non-null   int64
 4   slope1         3109 non-null   float64
 5   slope2         3109 non-null   float64
 6   slope3         3109 non-null   float64
 7   slope4         3109 non-null   float64
 8   slope5         3109 non-null   float64
 9   slope6         3109 non-null   float64
 10  slope7         3109 non-null   float64
 11  slope8         3109 non-null   float64
 12  aspectN        3109 non-null   float64
 13  aspectE        3109 non-null   float64
 14  aspectS        3109 non-null   float64
 15  aspectW        3109 non-null   float64
 16  aspectUnknown  3109 non-null   float64
 17  WAT_LAND       3109 non-null   float64
 18  NVG_LAND       3109 non-null   float64
 19  URB_LAND       3109 non-null   float64
 20  GRS_LAND       3109 non-null   float64
 21  FOR_LAND       3109 non-null   float64
 22  CULTRF_LAND    3109 non-null   float64
 23  CULTIR_LAND    3109 non-null   float64
 24  CULT_LAND      3109 non-null   float64
 25  SQ1            3109 non-null   int64
 26  SQ2            3109 non-null   int64
 27  SQ3            3109 non-null   int64
 28  SQ4            3109 non-null   int64
 29  SQ5            3109 non-null   int64
 30  SQ6            3109 non-null   int64
 31  SQ7            3109 non-null   int64
dtypes: float64(23), int64(9)
memory usage: 777.4 KB

In [5]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2271948 entries, 0 to 2271947
Data columns (total 21 columns):
 #   Column       Dtype
---  ------       -----
 0   fips         int64
 1   date         object
 2   PRECTOT      float64
 3   PS           float64
 4   QV2M         float64
 5   T2M          float64
 6   T2MDEW       float64
 7   T2MWET       float64
 8   T2M_MAX      float64
 9   T2M_MIN      float64
 10  T2M_RANGE    float64
 11  TS           float64
 12  WS10M        float64
 13  WS10M_MAX    float64
 14  WS10M_MIN    float64
 15  WS10M_RANGE  float64
 16  WS50M        float64
 17  WS50M_MAX    float64
 18  WS50M_MIN    float64
 19  WS50M_RANGE  float64
 20  score        float64
dtypes: float64(19), int64(1), object(1)
memory usage: 364.0+ MB

In [6]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19300680 entries, 0 to 19300679
Data columns (total 21 columns):
 #   Column       Dtype
---  ------       -----
 0   fips         int64
 1   date         object
 2   PRECTOT      float64
 3   PS           float64
 4   QV2M         float64
 5   T2M          float64
 6   T2MDEW       float64
 7   T2MWET       float64
 8   T2M_MAX      float64
 9   T2M_MIN      float64
 10  T2M_RANGE    float64
 11  TS           float64
 12  WS10M        float64
 13  WS10M_MAX    float64
 14  WS10M_MIN    float64
 15  WS10M_RANGE  float64
 16  WS50M        float64
 17  WS50M_MAX    float64
 18  WS50M_MIN    float64
 19  WS50M_RANGE  float64
 20  score        float64
dtypes: float64(19), int64(1), object(1)
memory usage: 3.0+ GB

In [7]:
validation_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2268840 entries, 0 to 2268839
Data columns (total 21 columns):
 #   Column       Dtype
---  ------       -----
 0   fips         int64
 1   date         object
 2   PRECTOT      float64
 3   PS           float64
 4   QV2M         float64
 5   T2M          float64
 6   T2MDEW       float64
 7   T2MWET       float64
 8   T2M_MAX      float64
 9   T2M_MIN      float64
 10  T2M_RANGE    float64
 11  TS           float64
 12  WS10M        float64
 13  WS10M_MAX    float64
 14  WS10M_MIN    float64
 15  WS10M_RANGE  float64
 16  WS50M        float64
 17  WS50M_MAX    float64
 18  WS50M_MIN    float64
 19  WS50M_RANGE  float64
 20  score        float64
dtypes: float64(19), int64(1), object(1)
memory usage: 363.5+ MB

<p align="left">
    <b><u>How the Data Sets are split</u>:</b>
<table>
    <tr>
        <th>Split</th>
        <th>Year Range (inclusive)</th>
        <th>Percentage (approximate)</th>
    </tr>
    <tr>
        <td>Train</td>
        <td>2000-2009</td>	         
        <td>47%</td>
    </tr>
    <tr>
        <td>Validation</td>
        <td>2010-2011</td>
        <td>10%</td>
    <tr>
        <td>Test</td>
        <td>2012-2020</td>
        <td>43%</td>
    </tr>
</table>
</p>

In [10]:
soil_set.head()

,fips,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,1001,32.536382,-86.644490,63,0.0419,0.2788,0.2984,0.2497,0.1142,0.0170,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,1005,31.870670,-85.405456,146,0.0158,0.1868,0.5441,0.2424,0.0106,0.0003,...,72.578804,1.828159,74.406960,3,2,1,1,1,1,1
2,1003,30.659218,-87.746067,52,0.0746,0.4370,0.4415,0.0469,0.0000,0.0000,...,59.843639,2.996914,62.840553,3,2,1,2,1,1,1
3,1007,33.015893,-87.127148,93,0.0144,0.1617,0.3714,0.3493,0.0898,0.0134,...,1.916593,0.008330,1.924924,3,2,1,1,1,1,1
4,1009,33.977448,-86.567246,198,0.0050,0.0872,0.2799,0.3576,0.1477,0.1037,...,1.891909,0.027488,1.919397,3,2,1,1,1,1,1

In [9]:
train_set.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-01,0.22,100.51,9.65,14.74,13.51,13.51,20.96,11.46,...,14.65,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.81,NaN
1,1001,2000-01-02,0.20,100.55,10.42,16.69,14.71,14.71,22.80,12.61,...,16.60,2.52,3.43,1.83,1.60,5.33,6.13,3.72,2.41,NaN
2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,...,18.41,4.03,5.33,2.66,2.67,7.53,9.52,5.87,3.66,NaN
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,...,2.65,1.60,2.50,0.52,1.98,2.94,4.85,0.65,4.19,NaN

<b><u>Drought Score Category Field</u>:</b> The score field is the Drought Score in a category of None, D0, D1, D2, D3, D4.  The Drought Score is only evaluated weekly but the meteorological variables are daily.  The score of NaN indicates daily meteorological scores that don't have a directly correspoding drought score because it is evaluated weekly.

<h3>Characterizing Null Values within the Dataset</h3>

In [12]:
# SOIL_SET Null Value exploration
missing_soil = pd.concat([soil_set.isnull().sum(), 100 * soil_set.isnull().mean()], axis=1)
missing_soil.columns=['count', '%']
missing_soil.sort_values(by='count', ascending=False)

               count    %
fips               0  0.0
lat                0  0.0
SQ6                0  0.0
SQ5                0  0.0
SQ4                0  0.0
SQ3                0  0.0
SQ2                0  0.0
SQ1                0  0.0
CULT_LAND          0  0.0
CULTIR_LAND        0  0.0
CULTRF_LAND        0  0.0
FOR_LAND           0  0.0
GRS_LAND           0  0.0
URB_LAND           0  0.0
NVG_LAND           0  0.0
WAT_LAND           0  0.0
aspectUnknown      0  0.0
aspectW            0  0.0
aspectS            0  0.0
aspectE            0  0.0
aspectN            0  0.0
slope8             0  0.0
slope7             0  0.0
slope6             0  0.0
slope5             0  0.0
slope4             0  0.0
slope3             0  0.0
slope2             0  0.0
slope1             0  0.0
elevation          0  0.0
lon                0  0.0
SQ7                0  0.0

In [13]:
# TRAIN_SET Null Value exploration
missing_train = pd.concat([train_set.isnull().sum(), 100 * train_set.isnull().mean()], axis=1)
missing_train.columns=['count', '%']
missing_train.sort_values(by='count', ascending=False)

                count          %
score        16543884  85.716586
TS                  0   0.000000
WS50M_RANGE         0   0.000000
WS50M_MIN           0   0.000000
WS50M_MAX           0   0.000000
WS50M               0   0.000000
WS10M_RANGE         0   0.000000
WS10M_MIN           0   0.000000
WS10M_MAX           0   0.000000
WS10M               0   0.000000
fips                0   0.000000
date                0   0.000000
T2M_MIN             0   0.000000
T2M_MAX             0   0.000000
T2MWET              0   0.000000
T2MDEW              0   0.000000
T2M                 0   0.000000
QV2M                0   0.000000
PS                  0   0.000000
PRECTOT             0   0.000000
T2M_RANGE           0   0.000000

In [14]:
# VALIDATION_SET Null Value exploration
missing_valid = pd.concat([validation_set.isnull().sum(), 100 * validation_set.isnull().mean()], axis=1)
missing_valid.columns=['count', '%']
missing_train.sort_values(by='count', ascending=False)

                count          %
score        16543884  85.716586
TS                  0   0.000000
WS50M_RANGE         0   0.000000
WS50M_MIN           0   0.000000
WS50M_MAX           0   0.000000
WS50M               0   0.000000
WS10M_RANGE         0   0.000000
WS10M_MIN           0   0.000000
WS10M_MAX           0   0.000000
WS10M               0   0.000000
fips                0   0.000000
date                0   0.000000
T2M_MIN             0   0.000000
T2M_MAX             0   0.000000
T2MWET              0   0.000000
T2MDEW              0   0.000000
T2M                 0   0.000000
QV2M                0   0.000000
PS                  0   0.000000
PRECTOT             0   0.000000
T2M_RANGE           0   0.000000

In [15]:
# TEST_SET Null Value exploration
missing_test = pd.concat([test_set.isnull().sum(), 100 * test_set.isnull().mean()], axis=1)
missing_test.columns=['count', '%']
missing_test.sort_values(by='count', ascending=False)

               count          %
score        1945608  85.636115
TS                 0   0.000000
WS50M_RANGE        0   0.000000
WS50M_MIN          0   0.000000
WS50M_MAX          0   0.000000
WS50M              0   0.000000
WS10M_RANGE        0   0.000000
WS10M_MIN          0   0.000000
WS10M_MAX          0   0.000000
WS10M              0   0.000000
fips               0   0.000000
date               0   0.000000
T2M_MIN            0   0.000000
T2M_MAX            0   0.000000
T2MWET             0   0.000000
T2MDEW             0   0.000000
T2M                0   0.000000
QV2M               0   0.000000
PS                 0   0.000000
PRECTOT            0   0.000000
T2M_RANGE          0   0.000000

<b> Null Value Summary:</b> This dataset is from Kaggle and is very clean.  The score field NaN values exist due to the difference in frequency between the daily meteorological values and the weekly drought assessment.

<h3> Numeric Features of the Datasets </h3>

In [17]:
# Numerical features of the soil dataset.
soil_set.describe().T

,count,mean,std,min,25%,50%,75%,max
fips,3109.0,30678.538437,14986.018730,1001.000000,19045.000000,29213.000000,46009.000000,56045.000000
lat,3109.0,38.280052,4.838634,25.601043,34.686818,38.328061,41.703590,48.842653
lon,3109.0,-91.659790,11.485291,-124.211407,-98.046842,-90.181170,-83.373303,-67.609354
elevation,3109.0,427.624638,500.158880,-1.000000,132.000000,272.000000,483.000000,3561.000000
slope1,3109.0,0.054973,0.089873,0.000000,0.008300,0.028300,0.068500,0.974000
slope2,3109.0,0.297750,0.215950,0.000000,0.105100,0.271000,0.477500,0.759900
slope3,3109.0,0.319991,0.167727,0.000000,0.185800,0.347100,0.459300,0.696900
slope4,3109.0,0.155878,0.128400,0.000000,0.040800,0.127500,0.255200,0.571700
slope5,3109.0,0.053409,0.073107,0.000000,0.000500,0.012200,0.090300,0.330000
slope6,3109.0,0.065323,0.125526,0.000000,0.000000,0.000700,0.054100,0.606800
slope7,3109.0,0.022223,0.064127,0.000000,0.000000,0.000000,0.001200,0.476500
slope8,3109.0,0.009267,0.044933,0.000000,0.000000,0.000000,0.000000,0.628800
aspectN,3109.0,0.143749,0.078237,0.000000,0.086200,0.144200,0.195600,0.478400
aspectE,3109.0,0.168888,0.084105,0.000000,0.109200,0.174000,0.227600,0.738500
aspectS,3109.0,0.148392,0.082111,0.000000,0.086300,0.148300,0.206600,0.511200
aspectW,3109.0,0.165061,0.087843,0.000000,0.101500,0.165500,0.223100,0.657800
aspectUnknown,3109.0,0.352723,0.272182,0.000000,0.115600,0.305900,0.555200,1.000000
WAT_LAND,3109.0,2.850511,13.159247,0.000000,0.000000,0.000000,0.000000,100.000000
NVG_LAND,3109.0,1.801451,7.971805,0.000000,0.000000,0.000000,0.000000,99.982918
URB_LAND,3109.0,2.670026,9.770693,0.000000,0.104800,0.488500,1.115100,99.998764
GRS_LAND,3109.0,19.812154,25.447435,0.000000,4.360057,8.839095,23.720787,99.998596
FOR_LAND,3109.0,39.296586,34.365530,0.000000,4.552230,30.573359,74.532990,91.044609
CULTRF_LAND,3109.0,28.494804,31.839502,0.000000,0.143526,14.043937,51.737080,97.029572
CULTIR_LAND,3109.0,3.504682,10.290893,0.000000,0.045909,0.276606,1.370315,99.956841
CULT_LAND,3109.0,31.999486,33.099657,0.000000,1.602227,18.811279,60.637421,99.956841
SQ1,3109.0,1.830492,1.192219,0.000000,1.000000,1.000000,3.000000,7.000000
SQ2,3109.0,1.553554,1.021382,0.000000,1.000000,1.000000,2.000000,7.000000
SQ3,3109.0,1.282084,1.002508,0.000000,1.000000,1.000000,1.000000,7.000000
SQ4,3109.0,1.357350,1.030110,0.000000,1.000000,1.000000,1.000000,7.000000
SQ5,3109.0,1.146993,0.922308,0.000000,1.000000,1.000000,1.000000,7.000000
SQ6,3109.0,1.135092,0.914502,0.000000,1.000000,1.000000,1.000000,7.000000
SQ7,3109.0,1.284979,1.017465,0.000000,1.000000,1.000000,1.000000,7.000000

In [18]:
# Numerical features of the training dataset.
train_set.describe().T

,count,mean,std,min,25%,50%,75%,max
fips,19300680.0,30670.376770,14979.107776,1001.00,19044.50,29212.00,46007.5000,56043.00
PRECTOT,19300680.0,2.644145,6.226305,0.00,0.00,0.18,2.1600,234.59
PS,19300680.0,96.655785,5.447994,66.12,95.84,98.30,99.9600,104.32
QV2M,19300680.0,7.816178,4.694305,0.12,3.78,6.84,11.3500,22.92
T2M,19300680.0,12.801455,10.926740,-37.34,4.45,14.02,21.8800,41.39
T2MDEW,19300680.0,6.951072,10.145507,-37.70,-0.96,7.57,15.5200,27.55
T2MWET,19300680.0,6.986916,10.091160,-37.46,-0.92,7.58,15.5200,27.55
T2M_MAX,19300680.0,18.681408,11.544871,-32.20,10.27,20.40,27.8700,49.91
T2M_MIN,19300680.0,7.411665,10.576797,-45.96,-0.70,8.03,16.1400,33.80
T2M_RANGE,19300680.0,11.269745,4.005165,0.03,8.42,11.24,14.0800,34.61
TS,19300680.0,12.888998,11.149612,-38.23,4.34,14.04,22.0700,43.85
WS10M,19300680.0,3.564013,1.862297,0.25,2.14,3.14,4.6000,23.69
WS10M_MAX,19300680.0,5.195993,2.627969,0.54,3.11,4.67,6.7500,36.28
WS10M_MIN,19300680.0,1.928879,1.351713,0.00,0.96,1.66,2.5800,17.20
WS10M_RANGE,19300680.0,3.267113,1.947028,0.16,1.81,2.80,4.2500,28.25
WS50M,19300680.0,5.525151,2.321549,0.40,3.79,5.12,6.8800,28.35
WS50M_MAX,19300680.0,7.811798,2.861210,0.70,5.68,7.31,9.4600,42.73
WS50M_MIN,19300680.0,3.130077,2.122751,0.00,1.45,2.77,4.4100,20.87
WS50M_RANGE,19300680.0,4.681721,2.171263,0.32,3.13,4.25,5.7700,32.43
score,2756796.0,0.824530,1.223727,0.00,0.00,0.00,1.1896,5.00

In [19]:
# Numerical features of the validation dataset.
validation_set.describe().T

,count,mean,std,min,25%,50%,75%,max
fips,2268840.0,30670.376770,14979.110689,1001.00,19044.50,29212.00,46007.50,56043.00
PRECTOT,2268840.0,2.945218,6.883588,0.00,0.00,0.19,2.50,243.32
PS,2268840.0,96.682894,5.443892,66.86,95.88,98.32,99.98,104.06
QV2M,2268840.0,8.209934,4.905189,0.16,3.92,7.26,12.18,21.98
T2M,2268840.0,13.136803,10.935752,-33.29,4.67,14.58,22.51,40.62
T2MDEW,2268840.0,7.626656,10.497402,-37.01,-0.44,8.51,16.71,26.84
T2MWET,2268840.0,7.631953,10.356828,-33.58,-0.48,8.42,16.65,26.84
T2M_MAX,2268840.0,18.847392,11.516190,-28.59,10.35,20.81,28.24,50.03
T2M_MIN,2268840.0,7.903998,10.647081,-38.15,-0.44,8.67,17.01,33.04
T2M_RANGE,2268840.0,10.943396,3.951253,0.02,8.14,10.90,13.64,33.19
TS,2268840.0,13.217935,11.134324,-35.48,4.54,14.61,22.69,43.25
WS10M,2268840.0,3.533742,1.845010,0.37,2.12,3.14,4.56,24.94
WS10M_MAX,2268840.0,5.165298,2.607319,0.60,3.11,4.67,6.71,31.76
WS10M_MIN,2268840.0,1.904352,1.342821,0.00,0.94,1.64,2.56,16.29
WS10M_RANGE,2268840.0,3.260947,1.927159,0.22,1.81,2.81,4.25,23.19
WS50M,2268840.0,5.486969,2.310433,0.46,3.77,5.12,6.83,29.52
WS50M_MAX,2268840.0,7.762958,2.851491,0.87,5.64,7.30,9.42,37.38
WS50M_MIN,2268840.0,3.104674,2.115034,0.00,1.42,2.76,4.39,20.85
WS50M_RANGE,2268840.0,4.658297,2.155684,0.30,3.11,4.22,5.76,28.90
score,323232.0,0.538601,0.916711,0.00,0.00,0.00,1.00,5.00

In [20]:
# Numerical features of the test dataset.
test_set.describe().T

,count,mean,std,min,25%,50%,75%,max
fips,2271948.0,30670.376770,14979.110684,1001.00,19044.50,29212.00,46007.500000,56043.00
PRECTOT,2271948.0,2.938845,6.719112,0.00,0.00,0.21,2.540000,249.34
PS,2271948.0,96.661749,5.443289,66.75,95.86,98.30,99.960000,103.88
QV2M,2271948.0,8.223259,4.925266,0.10,3.96,7.06,12.220000,22.52
T2M,2271948.0,12.945749,10.859401,-38.57,4.53,13.89,22.230000,40.33
T2MDEW,2271948.0,7.782536,10.333155,-41.54,-0.16,8.25,16.850000,27.05
T2MWET,2271948.0,7.793077,10.104503,-38.59,-0.11,8.09,16.710000,27.00
T2M_MAX,2271948.0,18.612241,11.403874,-31.33,10.18,20.14,27.870000,48.30
T2M_MIN,2271948.0,7.737146,10.632098,-45.46,-0.50,8.08,16.800000,32.32
T2M_RANGE,2271948.0,10.875095,3.850620,0.12,8.14,10.78,13.530000,29.65
TS,2271948.0,12.981557,11.063470,-41.23,4.41,13.88,22.360000,43.47
WS10M,2271948.0,3.528208,1.834560,0.26,2.12,3.14,4.540000,17.48
WS10M_MAX,2271948.0,5.177723,2.618564,0.60,3.11,4.68,6.710000,24.97
WS10M_MIN,2271948.0,1.880345,1.310424,0.00,0.94,1.62,2.530000,16.51
WS10M_RANGE,2271948.0,3.297381,1.971088,0.23,1.82,2.82,4.300000,22.07
WS50M,2271948.0,5.486035,2.291324,0.52,3.79,5.10,6.820000,20.58
WS50M_MAX,2271948.0,7.804205,2.869980,1.04,5.67,7.31,9.450000,29.93
WS50M_MIN,2271948.0,3.060228,2.071117,0.00,1.41,2.72,4.320000,19.22
WS50M_RANGE,2271948.0,4.743982,2.202233,0.45,3.16,4.30,5.860000,26.34
score,326340.0,0.413486,0.838403,0.00,0.00,0.00,0.406525,5.00

In [23]:
# Exploring the NaN values in the score field of the training dataset.
train_set[['fips', 'date', 'score']].head(30)

    fips        date  score
0   1001  2000-01-01    NaN
1   1001  2000-01-02    NaN
2   1001  2000-01-03    NaN
3   1001  2000-01-04    1.0
4   1001  2000-01-05    NaN
5   1001  2000-01-06    NaN
6   1001  2000-01-07    NaN
7   1001  2000-01-08    NaN
8   1001  2000-01-09    NaN
9   1001  2000-01-10    NaN
10  1001  2000-01-11    2.0
11  1001  2000-01-12    NaN
12  1001  2000-01-13    NaN
13  1001  2000-01-14    NaN
14  1001  2000-01-15    NaN
15  1001  2000-01-16    NaN
16  1001  2000-01-17    NaN
17  1001  2000-01-18    2.0
18  1001  2000-01-19    NaN
19  1001  2000-01-20    NaN
20  1001  2000-01-21    NaN
21  1001  2000-01-22    NaN
22  1001  2000-01-23    NaN
23  1001  2000-01-24    NaN
24  1001  2000-01-25    2.0
25  1001  2000-01-26    NaN
26  1001  2000-01-27    NaN
27  1001  2000-01-28    NaN
28  1001  2000-01-29    NaN
29  1001  2000-01-30    NaN

In [24]:
# There are six categories for drought.  No drought is encoded as 'None'
train_set[train_set['score'] == None]

Empty DataFrame
Columns: [fips, date, PRECTOT, PS, QV2M, T2M, T2MDEW, T2MWET, T2M_MAX, T2M_MIN, T2M_RANGE, TS, WS10M, WS10M_MAX, WS10M_MIN, WS10M_RANGE, WS50M, WS50M_MAX, WS50M_MIN, WS50M_RANGE, score]
Index: []

[0 rows x 21 columns]