# Drought Prediction: Preprocessing - Resampling

INSERT EXPLANATORY TEXT

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler

#### Load Merged Soil & Meteorological Dataset

In [3]:
# Local location of the data
# local_data = 'D:\\Data_Science\\DroughtProject\\Data\\' # Location on Windows
local_data = '/home/chad/Data/Drought_Prediction/' # Location on Linux

# Load the first half of the scaled & merged dataset of meteorological and soil variables.
ts_merge0_scaled = pd.read_csv(local_data + 'ts_merge0_scaled.csv', 
                        parse_dates=['date'], 
                        index_col=['fips'],
                        header=0)

In [4]:
ts_merge0_scaled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9650341 entries, 1001 to 56043
Data columns (total 51 columns):
 #   Column         Dtype
---  ------         -----
 0   date           datetime64[ns]
 1   PRECTOT        float64
 2   PS             float64
 3   QV2M           float64
 4   T2M            float64
 5   T2MDEW         float64
 6   T2MWET         float64
 7   T2M_MAX        float64
 8   T2M_MIN        float64
 9   T2M_RANGE      float64
 10  TS             float64
 11  WS10M          float64
 12  WS10M_MAX      float64
 13  WS10M_MIN      float64
 14  WS10M_RANGE    float64
 15  WS50M          float64
 16  WS50M_MAX      float64
 17  WS50M_MIN      float64
 18  WS50M_RANGE    float64
 19  lat            float64
 20  lon            float64
 21  elevation      float64
 22  slope1         float64
 23  slope2         float64
 24  slope3         float64
 25  slope4         float64
 26  slope5         float64
 27  slope6         float64
 28  slope7         float64
 29  slope8         float64
 30  aspectN        float64
 31  aspectE        float64
 32  aspectS        float64
 33  aspectW        float64
 34  aspectUnknown  float64
 35  WAT_LAND       float64
 36  NVG_LAND       float64
 37  URB_LAND       float64
 38  GRS_LAND       float64
 39  FOR_LAND       float64
 40  CULTRF_LAND    float64
 41  CULTIR_LAND    float64
 42  CULT_LAND      float64
 43  SQ1            float64
 44  SQ2            float64
 45  SQ3            float64
 46  SQ4            float64
 47  SQ5            float64
 48  SQ6            float64
 49  SQ7            float64
 50  score          float64
dtypes: datetime64[ns](1), float64(50)
memory usage: 3.7 GB

In [5]:
ts_merge0_scaled.head()

,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,...,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7,score
fips,,,,,,,,,,,,,,,,,,,,,
1001,2000-01-01,-0.396480,0.552630,0.302636,0.138316,0.563310,0.562943,0.168457,0.335466,-0.417993,...,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807,NaN
1001,2000-01-02,-0.399523,0.559985,0.460871,0.317114,0.680164,0.680374,0.329331,0.443382,-0.245534,...,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807,NaN
1001,2000-01-03,0.125260,0.486436,0.736241,0.482159,0.856419,0.857500,0.323211,0.697688,-0.948050,...,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807,NaN
1001,2000-01-04,1.996223,0.512178,-0.361130,-0.167934,-0.159238,-0.162196,-0.082471,-0.537246,1.210220,...,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807,1.0
1001,2000-01-05,-0.429945,0.670308,-1.074217,-0.859288,-1.072647,-1.072290,-0.718098,-0.989554,0.591398,...,-0.266678,0.515974,-0.707612,-0.551381,-0.258146,-0.406721,-0.153255,-0.146963,0.769807,NaN

In [7]:
ts_merge0_scaled.resample('W', on='date', origin='2000-01-04').mean()

,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,...,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7,score
date,,,,,,,,,,,,,,,,,,,,,
2000-01-02,-0.142796,-0.038440,-0.392317,-0.565233,-0.268366,-0.271269,-0.584928,-0.516648,-0.300399,-0.596881,...,5.314892e-08,3.559392e-07,7.332512e-08,5.713587e-08,2.674989e-08,4.214580e-08,1.588079e-08,1.522877e-08,2.528303e-08,NaN
2000-01-09,-0.012129,0.045248,-0.791096,-0.955056,-0.835259,-0.835682,-0.940654,-0.906387,-0.278961,-0.971416,...,5.314892e-08,3.559392e-07,7.332512e-08,5.713587e-08,2.674989e-08,4.214580e-08,1.588079e-08,1.522877e-08,2.528303e-08,1.350341
2000-01-16,-0.230158,0.089874,-0.831149,-0.893789,-0.874141,-0.873642,-0.845674,-0.894605,-0.035282,-0.907055,...,5.314892e-08,3.559392e-07,7.332512e-08,5.713587e-08,2.674989e-08,4.214580e-08,1.588079e-08,1.522877e-08,2.528303e-08,1.409207
2000-01-23,-0.129625,0.027745,-0.912849,-1.179527,-1.075162,-1.073806,-1.209339,-1.124736,-0.468230,-1.162110,...,5.314892e-08,3.559392e-07,7.332512e-08,5.713587e-08,2.674989e-08,4.214580e-08,1.588079e-08,1.522877e-08,2.528303e-08,1.523975
2000-01-30,-0.111458,0.114686,-1.159523,-1.551879,-1.439819,-1.439846,-1.580471,-1.461762,-0.633907,-1.535076,...,5.314892e-08,3.559392e-07,7.332512e-08,5.713587e-08,2.674989e-08,4.214580e-08,1.588079e-08,1.522877e-08,2.528303e-08,1.518741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-12-04,0.337282,-0.069510,-0.610781,-0.639872,-0.539972,-0.542487,-0.693006,-0.537812,-0.556729,-0.659477,...,5.314892e-08,3.559392e-07,7.332512e-08,5.713587e-08,2.674989e-08,4.214580e-08,1.588079e-08,1.522877e-08,2.528303e-08,1.737269
2016-12-11,0.089568,0.069296,-0.899014,-1.106987,-1.017726,-1.015996,-1.188616,-0.992311,-0.766026,-1.086424,...,5.314892e-08,3.559392e-07,7.332512e-08,5.713587e-08,2.674989e-08,4.214580e-08,1.588079e-08,1.522877e-08,2.528303e-08,1.564743
2016-12-18,0.027297,0.044756,-0.853009,-1.276078,-1.154557,-1.145461,-1.283078,-1.267458,-0.296400,-1.254398,...,5.314892e-08,3.559392e-07,7.332512e-08,5.713587e-08,2.674989e-08,4.214580e-08,1.588079e-08,1.522877e-08,2.528303e-08,1.454537
2016-12-25,-0.158055,0.111724,-0.752382,-1.007876,-0.788010,-0.789250,-0.989167,-0.963672,-0.264862,-1.044413,...,5.314892e-08,3.559392e-07,7.332512e-08,5.713587e-08,2.674989e-08,4.214580e-08,1.588079e-08,1.522877e-08,2.528303e-08,1.360772
2017-01-01,-0.100521,0.020583,-0.687336,-0.813489,-0.722142,-0.723828,-0.816083,-0.777285,-0.266527,-0.847371,...,-5.495009e-05,-3.680017e-04,-7.581005e-05,-5.907215e-05,-2.765642e-05,-4.357409e-05,-1.641897e-05,-1.574485e-05,-2.613984e-05,1.233149