# <u>Drought Prediction</u>: Preprocessing - Resample [Mean, Max, Min], Merge

In [1]:
#Import pandas, matplotlib.pyplot, and seaborn
import pandas as pd
import numpy as np

#### Load Training Dataset and Soil Dataset.  Convert Training Dataset date variable from object to datetime.

In [2]:
# Local location of the data
# local_data = 'D:\\Data_Science\\DroughtProject\\Data\\' # Location on Windows
local_data = '/home/chad/Data/Drought_Prediction/' # Location on Linux

# Load the training set and the soil variables.
soil_set = pd.read_csv(local_data + 'soil_data.csv')
train_set = pd.read_csv(local_data + 'train_timeseries.csv',
                        parse_dates=['date'],
                        header=0)

#### Confirm datasets are properly loaded and contain expected datatypes.

In [3]:
soil_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3109 entries, 0 to 3108
Data columns (total 32 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fips           3109 non-null   int64
 1   lat            3109 non-null   float64
 2   lon            3109 non-null   float64
 3   elevation      3109 non-null   int64
 4   slope1         3109 non-null   float64
 5   slope2         3109 non-null   float64
 6   slope3         3109 non-null   float64
 7   slope4         3109 non-null   float64
 8   slope5         3109 non-null   float64
 9   slope6         3109 non-null   float64
 10  slope7         3109 non-null   float64
 11  slope8         3109 non-null   float64
 12  aspectN        3109 non-null   float64
 13  aspectE        3109 non-null   float64
 14  aspectS        3109 non-null   float64
 15  aspectW        3109 non-null   float64
 16  aspectUnknown  3109 non-null   float64
 17  WAT_LAND       3109 non-null   float64
 18  NVG_LAND       3109 non-null   float64
 19  URB_LAND       3109 non-null   float64
 20  GRS_LAND       3109 non-null   float64
 21  FOR_LAND       3109 non-null   float64
 22  CULTRF_LAND    3109 non-null   float64
 23  CULTIR_LAND    3109 non-null   float64
 24  CULT_LAND      3109 non-null   float64
 25  SQ1            3109 non-null   int64
 26  SQ2            3109 non-null   int64
 27  SQ3            3109 non-null   int64
 28  SQ4            3109 non-null   int64
 29  SQ5            3109 non-null   int64
 30  SQ6            3109 non-null   int64
 31  SQ7            3109 non-null   int64
dtypes: float64(23), int64(9)
memory usage: 777.4 KB

In [4]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19300680 entries, 0 to 19300679
Data columns (total 21 columns):
 #   Column       Dtype
---  ------       -----
 0   fips         int64
 1   date         datetime64[ns]
 2   PRECTOT      float64
 3   PS           float64
 4   QV2M         float64
 5   T2M          float64
 6   T2MDEW       float64
 7   T2MWET       float64
 8   T2M_MAX      float64
 9   T2M_MIN      float64
 10  T2M_RANGE    float64
 11  TS           float64
 12  WS10M        float64
 13  WS10M_MAX    float64
 14  WS10M_MIN    float64
 15  WS10M_RANGE  float64
 16  WS50M        float64
 17  WS50M_MAX    float64
 18  WS50M_MIN    float64
 19  WS50M_RANGE  float64
 20  score        float64
dtypes: datetime64[ns](1), float64(19), int64(1)
memory usage: 3.0 GB

In [5]:
soil_set.head()

,fips,lat,lon,elevation,slope1,slope2,slope3,slope4,slope5,slope6,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,1001,32.536382,-86.644490,63,0.0419,0.2788,0.2984,0.2497,0.1142,0.0170,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,1005,31.870670,-85.405456,146,0.0158,0.1868,0.5441,0.2424,0.0106,0.0003,...,72.578804,1.828159,74.406960,3,2,1,1,1,1,1
2,1003,30.659218,-87.746067,52,0.0746,0.4370,0.4415,0.0469,0.0000,0.0000,...,59.843639,2.996914,62.840553,3,2,1,2,1,1,1
3,1007,33.015893,-87.127148,93,0.0144,0.1617,0.3714,0.3493,0.0898,0.0134,...,1.916593,0.008330,1.924924,3,2,1,1,1,1,1
4,1009,33.977448,-86.567246,198,0.0050,0.0872,0.2799,0.3576,0.1477,0.1037,...,1.891909,0.027488,1.919397,3,2,1,1,1,1,1

In [6]:
train_set.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-01,0.22,100.51,9.65,14.74,13.51,13.51,20.96,11.46,...,14.65,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.81,NaN
1,1001,2000-01-02,0.20,100.55,10.42,16.69,14.71,14.71,22.80,12.61,...,16.60,2.52,3.43,1.83,1.60,5.33,6.13,3.72,2.41,NaN
2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,...,18.41,4.03,5.33,2.66,2.67,7.53,9.52,5.87,3.66,NaN
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,...,2.65,1.60,2.50,0.52,1.98,2.94,4.85,0.65,4.19,NaN

### Resample Meteorolgical Variables to weekly variables with non-null Score values.

In [7]:
# For each county ('fips'), since the score value is set on Tuesday, 
# all variables are averaged from the week leading up to Tuesday: previous Wednesday to Tuesday.
train_set_mean = train_set.groupby('fips').resample('W-TUE', on='date').mean()
train_set_mean

                     fips   PRECTOT          PS      QV2M        T2M  \
fips  date
1001  2000-01-04   1001.0  5.005000  100.375000  9.562500  15.330000
      2000-01-11   1001.0  5.684286  100.665714  5.951429   9.192857
      2000-01-18   1001.0  0.832857  101.275714  6.692857  10.118571
      2000-01-25   1001.0  3.641429  100.187143  4.220000   4.458571
      2000-02-01   1001.0  3.617143  100.992857  3.178571   0.764286
...                   ...       ...         ...       ...        ...
56043 2016-12-06  56043.0  0.471429   82.668571  1.991429  -5.320000
      2016-12-13  56043.0  0.350000   82.865714  1.884286  -7.621429
      2016-12-20  56043.0  0.812857   82.752857  1.757143  -9.688571
      2016-12-27  56043.0  0.751429   82.667143  2.022857  -6.534286
      2017-01-03  56043.0  0.420000   82.940000  1.845000  -6.792500

                     T2MDEW     T2MWET    T2M_MAX    T2M_MIN  T2M_RANGE  \
fips  date
1001  2000-01-04  12.707500  12.710000  21.145000  10.387500  10.752500
      2000-01-11   4.908571   4.934286  15.732857   3.071429  12.662857
      2000-01-18   6.711429   6.735714  16.931429   3.757143  13.177143
      2000-01-25  -0.224286  -0.132857  10.217143  -1.282857  11.498571
      2000-02-01  -2.791429  -2.714286   6.275714  -3.271429   9.547143
...                     ...        ...        ...        ...        ...
56043 2016-12-06 -11.062857 -10.812857  -0.422857  -9.621429   9.200000
      2016-12-13 -12.220000 -11.961429  -2.532857 -11.791429   9.260000
      2016-12-20 -13.777143 -13.368571  -3.805714 -15.451429  11.642857
      2016-12-27 -11.001429 -10.767143   0.274286 -11.805714  12.081429
      2017-01-03 -11.695000 -11.505000   0.185000 -11.635000  11.820000

                         TS     WS10M  WS10M_MAX  WS10M_MIN  WS10M_RANGE  \
fips  date
1001  2000-01-04  15.242500  3.147500   4.342500   2.015000     2.330000
      2000-01-11   8.558571  2.200000   3.305714   1.238571     2.065714
      2000-01-18   9.975714  2.352857   3.257143   1.490000     1.767143
      2000-01-25   4.508571  2.932857   4.090000   1.814286     2.275714
      2000-02-01   0.781429  2.362857   3.354286   1.318571     2.037143
...                     ...       ...        ...        ...          ...
56043 2016-12-06  -5.887143  3.517143   5.534286   1.837143     3.694286
      2016-12-13  -8.364286  3.370000   5.521429   1.435714     4.085714
      2016-12-20 -10.667143  3.735714   5.688571   1.648571     4.038571
      2016-12-27  -8.218571  4.237143   6.014286   2.238571     3.775714
      2017-01-03  -8.787500  4.520000   7.120000   2.135000     4.987500

                     WS50M  WS50M_MAX  WS50M_MIN  WS50M_RANGE  score
fips  date
1001  2000-01-04  6.110000   7.750000   4.140000     3.615000    1.0
      2000-01-11  4.418571   6.588571   2.280000     4.307143    2.0
      2000-01-18  4.870000   6.508571   2.812857     3.692857    2.0
      2000-01-25  5.270000   7.174286   3.575714     3.600000    2.0
      2000-02-01  4.372857   6.177143   2.580000     3.594286    1.0
...                    ...        ...        ...          ...    ...
56043 2016-12-06  5.210000   7.768571   2.905714     4.862857    0.0
      2016-12-13  5.080000   7.635714   2.311429     5.322857    0.0
      2016-12-20  5.287143   7.750000   2.740000     5.008571    0.0
      2016-12-27  6.342857   8.890000   3.630000     5.258571    0.0
      2017-01-03  6.782500   9.985000   3.590000     6.395000    NaN

[2759904 rows x 20 columns]

In [8]:
# The Groupby returns a MultiIndex.
train_set_mean.index

MultiIndex([( 1001, '2000-01-04'),
            ( 1001, '2000-01-11'),
            ( 1001, '2000-01-18'),
            ( 1001, '2000-01-25'),
            ( 1001, '2000-02-01'),
            ( 1001, '2000-02-08'),
            ( 1001, '2000-02-15'),
            ( 1001, '2000-02-22'),
            ( 1001, '2000-02-29'),
            ( 1001, '2000-03-07'),
            ...
            (56043, '2016-11-01'),
            (56043, '2016-11-08'),
            (56043, '2016-11-15'),
            (56043, '2016-11-22'),
            (56043, '2016-11-29'),
            (56043, '2016-12-06'),
            (56043, '2016-12-13'),
            (56043, '2016-12-20'),
            (56043, '2016-12-27'),
            (56043, '2017-01-03')],
           names=['fips', 'date'], length=2759904)

In [9]:
# 'fips' is both part of the MultiIndex and a copied column.
#  Need to rename (or delete) before resetting the index.
train_set_mean.rename({'fips': 'fips_copy'}, axis=1, inplace=True)

train_set_mean.reset_index(inplace=True)
train_set_mean

,fips,date,fips_copy,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-04,1001.0,5.005000,100.375000,9.562500,15.330000,12.707500,12.710000,21.145000,...,15.242500,3.147500,4.342500,2.015000,2.330000,6.110000,7.750000,4.140000,3.615000,1.0
1,1001,2000-01-11,1001.0,5.684286,100.665714,5.951429,9.192857,4.908571,4.934286,15.732857,...,8.558571,2.200000,3.305714,1.238571,2.065714,4.418571,6.588571,2.280000,4.307143,2.0
2,1001,2000-01-18,1001.0,0.832857,101.275714,6.692857,10.118571,6.711429,6.735714,16.931429,...,9.975714,2.352857,3.257143,1.490000,1.767143,4.870000,6.508571,2.812857,3.692857,2.0
3,1001,2000-01-25,1001.0,3.641429,100.187143,4.220000,4.458571,-0.224286,-0.132857,10.217143,...,4.508571,2.932857,4.090000,1.814286,2.275714,5.270000,7.174286,3.575714,3.600000,2.0
4,1001,2000-02-01,1001.0,3.617143,100.992857,3.178571,0.764286,-2.791429,-2.714286,6.275714,...,0.781429,2.362857,3.354286,1.318571,2.037143,4.372857,6.177143,2.580000,3.594286,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,56043.0,0.471429,82.668571,1.991429,-5.320000,-11.062857,-10.812857,-0.422857,...,-5.887143,3.517143,5.534286,1.837143,3.694286,5.210000,7.768571,2.905714,4.862857,0.0
2759900,56043,2016-12-13,56043.0,0.350000,82.865714,1.884286,-7.621429,-12.220000,-11.961429,-2.532857,...,-8.364286,3.370000,5.521429,1.435714,4.085714,5.080000,7.635714,2.311429,5.322857,0.0
2759901,56043,2016-12-20,56043.0,0.812857,82.752857,1.757143,-9.688571,-13.777143,-13.368571,-3.805714,...,-10.667143,3.735714,5.688571,1.648571,4.038571,5.287143,7.750000,2.740000,5.008571,0.0
2759902,56043,2016-12-27,56043.0,0.751429,82.667143,2.022857,-6.534286,-11.001429,-10.767143,0.274286,...,-8.218571,4.237143,6.014286,2.238571,3.775714,6.342857,8.890000,3.630000,5.258571,0.0
2759903,56043,2017-01-03,56043.0,0.420000,82.940000,1.845000,-6.792500,-11.695000,-11.505000,0.185000,...,-8.787500,4.520000,7.120000,2.135000,4.987500,6.782500,9.985000,3.590000,6.395000,NaN

In [10]:
# Confirming expected column dataypes, overall size, memory usage, etc.
train_set_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2759904 entries, 0 to 2759903
Data columns (total 22 columns):
 #   Column       Dtype
---  ------       -----
 0   fips         int64
 1   date         datetime64[ns]
 2   fips_copy    float64
 3   PRECTOT      float64
 4   PS           float64
 5   QV2M         float64
 6   T2M          float64
 7   T2MDEW       float64
 8   T2MWET       float64
 9   T2M_MAX      float64
 10  T2M_MIN      float64
 11  T2M_RANGE    float64
 12  TS           float64
 13  WS10M        float64
 14  WS10M_MAX    float64
 15  WS10M_MIN    float64
 16  WS10M_RANGE  float64
 17  WS50M        float64
 18  WS50M_MAX    float64
 19  WS50M_MIN    float64
 20  WS50M_RANGE  float64
 21  score        float64
dtypes: datetime64[ns](1), float64(20), int64(1)
memory usage: 463.2 MB

In [11]:
# The last Score value is NaN.  Filling that value with last valid value.
train_set_mean.fillna(method='ffill', inplace=True)

In [12]:
# 'fips_copy' is a copy and has been verified as no longer needed.
train_set_mean.drop('fips_copy', axis=1, inplace=True)

In [13]:
# Confirming proper structure and expected output.
train_set_mean

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-04,5.005000,100.375000,9.562500,15.330000,12.707500,12.710000,21.145000,10.387500,...,15.242500,3.147500,4.342500,2.015000,2.330000,6.110000,7.750000,4.140000,3.615000,1.0
1,1001,2000-01-11,5.684286,100.665714,5.951429,9.192857,4.908571,4.934286,15.732857,3.071429,...,8.558571,2.200000,3.305714,1.238571,2.065714,4.418571,6.588571,2.280000,4.307143,2.0
2,1001,2000-01-18,0.832857,101.275714,6.692857,10.118571,6.711429,6.735714,16.931429,3.757143,...,9.975714,2.352857,3.257143,1.490000,1.767143,4.870000,6.508571,2.812857,3.692857,2.0
3,1001,2000-01-25,3.641429,100.187143,4.220000,4.458571,-0.224286,-0.132857,10.217143,-1.282857,...,4.508571,2.932857,4.090000,1.814286,2.275714,5.270000,7.174286,3.575714,3.600000,2.0
4,1001,2000-02-01,3.617143,100.992857,3.178571,0.764286,-2.791429,-2.714286,6.275714,-3.271429,...,0.781429,2.362857,3.354286,1.318571,2.037143,4.372857,6.177143,2.580000,3.594286,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,0.471429,82.668571,1.991429,-5.320000,-11.062857,-10.812857,-0.422857,-9.621429,...,-5.887143,3.517143,5.534286,1.837143,3.694286,5.210000,7.768571,2.905714,4.862857,0.0
2759900,56043,2016-12-13,0.350000,82.865714,1.884286,-7.621429,-12.220000,-11.961429,-2.532857,-11.791429,...,-8.364286,3.370000,5.521429,1.435714,4.085714,5.080000,7.635714,2.311429,5.322857,0.0
2759901,56043,2016-12-20,0.812857,82.752857,1.757143,-9.688571,-13.777143,-13.368571,-3.805714,-15.451429,...,-10.667143,3.735714,5.688571,1.648571,4.038571,5.287143,7.750000,2.740000,5.008571,0.0
2759902,56043,2016-12-27,0.751429,82.667143,2.022857,-6.534286,-11.001429,-10.767143,0.274286,-11.805714,...,-8.218571,4.237143,6.014286,2.238571,3.775714,6.342857,8.890000,3.630000,5.258571,0.0
2759903,56043,2017-01-03,0.420000,82.940000,1.845000,-6.792500,-11.695000,-11.505000,0.185000,-11.635000,...,-8.787500,4.520000,7.120000,2.135000,4.987500,6.782500,9.985000,3.590000,6.395000,0.0

### Repeat process of resampling but use the max() value instead of mean()

In [14]:
# For each county ('fips'), since the score value is set on Tuesday, 
# find the max for all variables from the week leading up to Tuesday: previous Wednesday to Tuesday.
train_set_max = train_set.groupby('fips').resample('W-TUE', on='date').max()

train_set_max.rename({'fips': 'fips_copy', 'date': 'date_copy'}, axis=1, inplace=True)
train_set_max.reset_index(inplace=True)
train_set_max.fillna(method='ffill', inplace=True)
train_set_max.drop(['fips_copy', 'date_copy'], axis=1, inplace=True)

train_set_max

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-04,15.95,100.55,11.76,18.49,16.52,16.52,22.80,15.32,...,18.41,4.03,5.67,2.66,3.59,7.53,9.52,5.87,5.58,1.0
1,1001,2000-01-11,21.23,101.37,11.18,15.73,15.45,15.45,19.60,10.30,...,15.65,3.10,5.60,2.25,3.88,6.33,10.03,4.95,5.88,2.0
2,1001,2000-01-18,2.40,102.30,9.53,14.28,13.26,13.26,20.74,10.27,...,14.19,3.23,4.57,2.02,2.56,6.41,7.40,4.77,5.17,2.0
3,1001,2000-01-25,13.50,100.81,7.33,9.62,9.00,9.00,15.27,4.88,...,9.54,4.23,5.26,2.41,3.05,7.43,8.69,4.86,5.56,2.0
4,1001,2000-02-01,15.58,101.22,4.56,3.07,2.54,2.55,11.02,0.55,...,3.01,3.26,4.05,1.69,2.79,5.40,6.97,4.07,5.12,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,1.83,83.28,2.73,-1.52,-6.98,-6.91,3.31,-5.66,...,-2.53,5.65,9.52,3.23,6.88,8.51,11.63,5.74,7.14,0.0
2759900,56043,2016-12-13,0.98,83.56,3.90,0.06,-2.40,-2.39,4.19,-3.14,...,-1.18,4.99,9.22,3.33,7.26,7.64,11.76,5.76,8.69,0.0
2759901,56043,2016-12-20,4.14,83.36,3.63,-1.77,-3.57,-3.56,3.58,-7.77,...,-3.13,6.16,8.43,3.98,5.34,8.99,11.55,6.75,6.76,0.0
2759902,56043,2016-12-27,4.88,83.65,3.46,-1.34,-4.02,-4.00,5.22,-6.53,...,-2.70,5.90,9.25,3.61,7.79,8.58,10.90,5.92,8.40,0.0
2759903,56043,2017-01-03,1.22,83.75,2.63,-2.94,-7.40,-7.33,3.76,-6.86,...,-4.14,6.50,11.43,4.11,7.32,9.92,14.49,7.26,7.22,0.0

### Repeat process of resampling but use the min() value instead of mean()

In [15]:
# CREATE FUNCTION FOR THIS PROCESS

# For each county ('fips'), since the score value is set on Tuesday, 
# find the max for all variables from the week leading up to Tuesday: previous Wednesday to Tuesday.
train_set_min = train_set.groupby('fips').resample('W-TUE', on='date').min()

train_set_min.rename({'fips': 'fips_copy', 'date': 'date_copy'}, axis=1, inplace=True)
train_set_min.reset_index(inplace=True)
train_set_min.fillna(method='ffill', inplace=True)
train_set_min.drop(['fips_copy', 'date_copy'], axis=1, inplace=True)

train_set_min

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-04,0.20,100.15,6.42,11.40,6.09,6.10,18.09,2.16,...,11.31,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.41,1.0
1,1001,2000-01-11,0.00,99.78,2.95,3.86,-3.29,-3.20,10.82,-2.96,...,2.65,1.55,2.39,0.04,1.40,2.94,4.85,0.05,2.49,2.0
2,1001,2000-01-18,0.00,100.39,2.82,3.16,-3.74,-3.64,10.57,-3.19,...,3.13,1.39,2.18,0.55,1.24,2.78,5.34,0.93,2.55,2.0
3,1001,2000-01-25,0.00,99.87,2.05,-0.78,-7.93,-7.72,5.65,-5.46,...,-0.61,2.20,3.08,1.21,1.53,4.17,5.00,2.39,1.81,2.0
4,1001,2000-02-01,0.00,100.75,1.73,-2.30,-9.76,-9.46,2.51,-5.32,...,-2.10,1.90,2.74,0.88,1.35,3.75,5.04,1.27,2.14,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,0.00,82.25,0.91,-11.96,-18.65,-17.90,-6.85,-15.24,...,-11.98,1.65,2.36,0.73,1.63,2.24,3.30,0.83,2.34,0.0
2759900,56043,2016-12-13,0.02,82.13,0.82,-14.59,-19.45,-18.82,-11.73,-19.04,...,-14.34,1.93,3.30,0.15,1.87,2.25,3.89,0.21,3.05,0.0
2759901,56043,2016-12-20,0.07,81.69,0.51,-19.20,-24.45,-23.10,-13.77,-24.10,...,-20.13,2.02,3.20,0.10,2.38,2.71,4.85,0.09,3.47,0.0
2759902,56043,2016-12-27,0.00,81.72,1.45,-8.75,-14.14,-13.79,-1.71,-13.60,...,-10.68,2.94,4.16,1.01,1.44,4.70,6.76,1.38,2.37,0.0
2759903,56043,2017-01-03,0.00,82.19,1.41,-8.71,-14.10,-13.84,-2.49,-14.51,...,-10.55,2.31,3.47,0.41,3.06,3.37,5.26,0.66,4.60,0.0

### Merge Mean, Min, & Max Resample

In [16]:
# Add '_mean' suffix so when the tables are joined, the variable suffixes have a standard meaning.
train_set_mean = train_set_mean.add_suffix('_mean')
train_set_max = train_set_max.add_suffix('_max')
train_set_min = train_set_min.add_suffix('_min')

In [17]:
train_stats_temp = train_set_mean.join(train_set_max, how='inner', rsuffix = '_max')
train_stats_temp

,fips_mean,date_mean,PRECTOT_mean,PS_mean,QV2M_mean,T2M_mean,T2MDEW_mean,T2MWET_mean,T2M_MAX_mean,T2M_MIN_mean,...,TS_max,WS10M_max,WS10M_MAX_max,WS10M_MIN_max,WS10M_RANGE_max,WS50M_max,WS50M_MAX_max,WS50M_MIN_max,WS50M_RANGE_max,score_max
0,1001,2000-01-04,5.005000,100.375000,9.562500,15.330000,12.707500,12.710000,21.145000,10.387500,...,18.41,4.03,5.67,2.66,3.59,7.53,9.52,5.87,5.58,1.0
1,1001,2000-01-11,5.684286,100.665714,5.951429,9.192857,4.908571,4.934286,15.732857,3.071429,...,15.65,3.10,5.60,2.25,3.88,6.33,10.03,4.95,5.88,2.0
2,1001,2000-01-18,0.832857,101.275714,6.692857,10.118571,6.711429,6.735714,16.931429,3.757143,...,14.19,3.23,4.57,2.02,2.56,6.41,7.40,4.77,5.17,2.0
3,1001,2000-01-25,3.641429,100.187143,4.220000,4.458571,-0.224286,-0.132857,10.217143,-1.282857,...,9.54,4.23,5.26,2.41,3.05,7.43,8.69,4.86,5.56,2.0
4,1001,2000-02-01,3.617143,100.992857,3.178571,0.764286,-2.791429,-2.714286,6.275714,-3.271429,...,3.01,3.26,4.05,1.69,2.79,5.40,6.97,4.07,5.12,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,0.471429,82.668571,1.991429,-5.320000,-11.062857,-10.812857,-0.422857,-9.621429,...,-2.53,5.65,9.52,3.23,6.88,8.51,11.63,5.74,7.14,0.0
2759900,56043,2016-12-13,0.350000,82.865714,1.884286,-7.621429,-12.220000,-11.961429,-2.532857,-11.791429,...,-1.18,4.99,9.22,3.33,7.26,7.64,11.76,5.76,8.69,0.0
2759901,56043,2016-12-20,0.812857,82.752857,1.757143,-9.688571,-13.777143,-13.368571,-3.805714,-15.451429,...,-3.13,6.16,8.43,3.98,5.34,8.99,11.55,6.75,6.76,0.0
2759902,56043,2016-12-27,0.751429,82.667143,2.022857,-6.534286,-11.001429,-10.767143,0.274286,-11.805714,...,-2.70,5.90,9.25,3.61,7.79,8.58,10.90,5.92,8.40,0.0
2759903,56043,2017-01-03,0.420000,82.940000,1.845000,-6.792500,-11.695000,-11.505000,0.185000,-11.635000,...,-4.14,6.50,11.43,4.11,7.32,9.92,14.49,7.26,7.22,0.0

In [18]:
train_stats =  train_stats_temp.join(train_set_min, how='inner', rsuffix='_min')
train_stats

,fips_mean,date_mean,PRECTOT_mean,PS_mean,QV2M_mean,T2M_mean,T2MDEW_mean,T2MWET_mean,T2M_MAX_mean,T2M_MIN_mean,...,TS_min,WS10M_min,WS10M_MAX_min,WS10M_MIN_min,WS10M_RANGE_min,WS50M_min,WS50M_MAX_min,WS50M_MIN_min,WS50M_RANGE_min,score_min
0,1001,2000-01-04,5.005000,100.375000,9.562500,15.330000,12.707500,12.710000,21.145000,10.387500,...,11.31,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.41,1.0
1,1001,2000-01-11,5.684286,100.665714,5.951429,9.192857,4.908571,4.934286,15.732857,3.071429,...,2.65,1.55,2.39,0.04,1.40,2.94,4.85,0.05,2.49,2.0
2,1001,2000-01-18,0.832857,101.275714,6.692857,10.118571,6.711429,6.735714,16.931429,3.757143,...,3.13,1.39,2.18,0.55,1.24,2.78,5.34,0.93,2.55,2.0
3,1001,2000-01-25,3.641429,100.187143,4.220000,4.458571,-0.224286,-0.132857,10.217143,-1.282857,...,-0.61,2.20,3.08,1.21,1.53,4.17,5.00,2.39,1.81,2.0
4,1001,2000-02-01,3.617143,100.992857,3.178571,0.764286,-2.791429,-2.714286,6.275714,-3.271429,...,-2.10,1.90,2.74,0.88,1.35,3.75,5.04,1.27,2.14,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,0.471429,82.668571,1.991429,-5.320000,-11.062857,-10.812857,-0.422857,-9.621429,...,-11.98,1.65,2.36,0.73,1.63,2.24,3.30,0.83,2.34,0.0
2759900,56043,2016-12-13,0.350000,82.865714,1.884286,-7.621429,-12.220000,-11.961429,-2.532857,-11.791429,...,-14.34,1.93,3.30,0.15,1.87,2.25,3.89,0.21,3.05,0.0
2759901,56043,2016-12-20,0.812857,82.752857,1.757143,-9.688571,-13.777143,-13.368571,-3.805714,-15.451429,...,-20.13,2.02,3.20,0.10,2.38,2.71,4.85,0.09,3.47,0.0
2759902,56043,2016-12-27,0.751429,82.667143,2.022857,-6.534286,-11.001429,-10.767143,0.274286,-11.805714,...,-10.68,2.94,4.16,1.01,1.44,4.70,6.76,1.38,2.37,0.0
2759903,56043,2017-01-03,0.420000,82.940000,1.845000,-6.792500,-11.695000,-11.505000,0.185000,-11.635000,...,-10.55,2.31,3.47,0.41,3.06,3.37,5.26,0.66,4.60,0.0

In [19]:
# The Date, FIPS, and Score values don't have min or max values different from mean and are therefore duplicates.
train_stats.drop(['fips_max', 'date_max', 'score_max', 'fips_min', 'date_min', 'score_min'], axis=1, inplace=True)

In [20]:
train_stats

,fips_mean,date_mean,PRECTOT_mean,PS_mean,QV2M_mean,T2M_mean,T2MDEW_mean,T2MWET_mean,T2M_MAX_mean,T2M_MIN_mean,...,T2M_RANGE_min,TS_min,WS10M_min,WS10M_MAX_min,WS10M_MIN_min,WS10M_RANGE_min,WS50M_min,WS50M_MAX_min,WS50M_MIN_min,WS50M_RANGE_min
0,1001,2000-01-04,5.005000,100.375000,9.562500,15.330000,12.707500,12.710000,21.145000,10.387500,...,7.41,11.31,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.41
1,1001,2000-01-11,5.684286,100.665714,5.951429,9.192857,4.908571,4.934286,15.732857,3.071429,...,9.31,2.65,1.55,2.39,0.04,1.40,2.94,4.85,0.05,2.49
2,1001,2000-01-18,0.832857,101.275714,6.692857,10.118571,6.711429,6.735714,16.931429,3.757143,...,9.06,3.13,1.39,2.18,0.55,1.24,2.78,5.34,0.93,2.55
3,1001,2000-01-25,3.641429,100.187143,4.220000,4.458571,-0.224286,-0.132857,10.217143,-1.282857,...,8.36,-0.61,2.20,3.08,1.21,1.53,4.17,5.00,2.39,1.81
4,1001,2000-02-01,3.617143,100.992857,3.178571,0.764286,-2.791429,-2.714286,6.275714,-3.271429,...,3.25,-2.10,1.90,2.74,0.88,1.35,3.75,5.04,1.27,2.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,0.471429,82.668571,1.991429,-5.320000,-11.062857,-10.812857,-0.422857,-9.621429,...,5.17,-11.98,1.65,2.36,0.73,1.63,2.24,3.30,0.83,2.34
2759900,56043,2016-12-13,0.350000,82.865714,1.884286,-7.621429,-12.220000,-11.961429,-2.532857,-11.791429,...,5.35,-14.34,1.93,3.30,0.15,1.87,2.25,3.89,0.21,3.05
2759901,56043,2016-12-20,0.812857,82.752857,1.757143,-9.688571,-13.777143,-13.368571,-3.805714,-15.451429,...,6.78,-20.13,2.02,3.20,0.10,2.38,2.71,4.85,0.09,3.47
2759902,56043,2016-12-27,0.751429,82.667143,2.022857,-6.534286,-11.001429,-10.767143,0.274286,-11.805714,...,9.98,-10.68,2.94,4.16,1.01,1.44,4.70,6.76,1.38,2.37
2759903,56043,2017-01-03,0.420000,82.940000,1.845000,-6.792500,-11.695000,-11.505000,0.185000,-11.635000,...,10.62,-10.55,2.31,3.47,0.41,3.06,3.37,5.26,0.66,4.60

In [21]:
train_stats.rename({'fips_mean': 'fips', 'date_mean': 'date', 'score_mean':'score'}, axis=1, inplace=True)

In [22]:
train_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2759904 entries, 0 to 2759903
Data columns (total 57 columns):
 #   Column            Dtype
---  ------            -----
 0   fips              int64
 1   date              datetime64[ns]
 2   PRECTOT_mean      float64
 3   PS_mean           float64
 4   QV2M_mean         float64
 5   T2M_mean          float64
 6   T2MDEW_mean       float64
 7   T2MWET_mean       float64
 8   T2M_MAX_mean      float64
 9   T2M_MIN_mean      float64
 10  T2M_RANGE_mean    float64
 11  TS_mean           float64
 12  WS10M_mean        float64
 13  WS10M_MAX_mean    float64
 14  WS10M_MIN_mean    float64
 15  WS10M_RANGE_mean  float64
 16  WS50M_mean        float64
 17  WS50M_MAX_mean    float64
 18  WS50M_MIN_mean    float64
 19  WS50M_RANGE_mean  float64
 20  score             float64
 21  PRECTOT_max       float64
 22  PS_max            float64
 23  QV2M_max          float64
 24  T2M_max           float64
 25  T2MDEW_max        float64
 26  T2MWET_max        float64
 27  T2M_MAX_max       float64
 28  T2M_MIN_max       float64
 29  T2M_RANGE_max     float64
 30  TS_max            float64
 31  WS10M_max         float64
 32  WS10M_MAX_max     float64
 33  WS10M_MIN_max     float64
 34  WS10M_RANGE_max   float64
 35  WS50M_max         float64
 36  WS50M_MAX_max     float64
 37  WS50M_MIN_max     float64
 38  WS50M_RANGE_max   float64
 39  PRECTOT_min       float64
 40  PS_min            float64
 41  QV2M_min          float64
 42  T2M_min           float64
 43  T2MDEW_min        float64
 44  T2MWET_min        float64
 45  T2M_MAX_min       float64
 46  T2M_MIN_min       float64
 47  T2M_RANGE_min     float64
 48  TS_min            float64
 49  WS10M_min         float64
 50  WS10M_MAX_min     float64
 51  WS10M_MIN_min     float64
 52  WS10M_RANGE_min   float64
 53  WS50M_min         float64
 54  WS50M_MAX_min     float64
 55  WS50M_MIN_min     float64
 56  WS50M_RANGE_min   float64
dtypes: datetime64[ns](1), float64(55), int64(1)
memory usage: 1.2 GB

In [23]:
# Rearranging the columns so that fips, date, and score are the first three columns.

cols = train_stats.columns.tolist()
cols = cols[0:2] + [cols[20]] + cols[2:20] + cols[21:]
# type(cols)
cols

['fips',
 'date',
 'score',
 'PRECTOT_mean',
 'PS_mean',
 'QV2M_mean',
 'T2M_mean',
 'T2MDEW_mean',
 'T2MWET_mean',
 'T2M_MAX_mean',
 'T2M_MIN_mean',
 'T2M_RANGE_mean',
 'TS_mean',
 'WS10M_mean',
 'WS10M_MAX_mean',
 'WS10M_MIN_mean',
 'WS10M_RANGE_mean',
 'WS50M_mean',
 'WS50M_MAX_mean',
 'WS50M_MIN_mean',
 'WS50M_RANGE_mean',
 'PRECTOT_max',
 'PS_max',
 'QV2M_max',
 'T2M_max',
 'T2MDEW_max',
 'T2MWET_max',
 'T2M_MAX_max',
 'T2M_MIN_max',
 'T2M_RANGE_max',
 'TS_max',
 'WS10M_max',
 'WS10M_MAX_max',
 'WS10M_MIN_max',
 'WS10M_RANGE_max',
 'WS50M_max',
 'WS50M_MAX_max',
 'WS50M_MIN_max',
 'WS50M_RANGE_max',
 'PRECTOT_min',
 'PS_min',
 'QV2M_min',
 'T2M_min',
 'T2MDEW_min',
 'T2MWET_min',
 'T2M_MAX_min',
 'T2M_MIN_min',
 'T2M_RANGE_min',
 'TS_min',
 'WS10M_min',
 'WS10M_MAX_min',
 'WS10M_MIN_min',
 'WS10M_RANGE_min',
 'WS50M_min',
 'WS50M_MAX_min',
 'WS50M_MIN_min',
 'WS50M_RANGE_min']

In [24]:
train_stats = train_stats[cols]
train_stats

,fips,date,score,PRECTOT_mean,PS_mean,QV2M_mean,T2M_mean,T2MDEW_mean,T2MWET_mean,T2M_MAX_mean,...,T2M_RANGE_min,TS_min,WS10M_min,WS10M_MAX_min,WS10M_MIN_min,WS10M_RANGE_min,WS50M_min,WS50M_MAX_min,WS50M_MIN_min,WS50M_RANGE_min
0,1001,2000-01-04,1.0,5.005000,100.375000,9.562500,15.330000,12.707500,12.710000,21.145000,...,7.41,11.31,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.41
1,1001,2000-01-11,2.0,5.684286,100.665714,5.951429,9.192857,4.908571,4.934286,15.732857,...,9.31,2.65,1.55,2.39,0.04,1.40,2.94,4.85,0.05,2.49
2,1001,2000-01-18,2.0,0.832857,101.275714,6.692857,10.118571,6.711429,6.735714,16.931429,...,9.06,3.13,1.39,2.18,0.55,1.24,2.78,5.34,0.93,2.55
3,1001,2000-01-25,2.0,3.641429,100.187143,4.220000,4.458571,-0.224286,-0.132857,10.217143,...,8.36,-0.61,2.20,3.08,1.21,1.53,4.17,5.00,2.39,1.81
4,1001,2000-02-01,1.0,3.617143,100.992857,3.178571,0.764286,-2.791429,-2.714286,6.275714,...,3.25,-2.10,1.90,2.74,0.88,1.35,3.75,5.04,1.27,2.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,0.0,0.471429,82.668571,1.991429,-5.320000,-11.062857,-10.812857,-0.422857,...,5.17,-11.98,1.65,2.36,0.73,1.63,2.24,3.30,0.83,2.34
2759900,56043,2016-12-13,0.0,0.350000,82.865714,1.884286,-7.621429,-12.220000,-11.961429,-2.532857,...,5.35,-14.34,1.93,3.30,0.15,1.87,2.25,3.89,0.21,3.05
2759901,56043,2016-12-20,0.0,0.812857,82.752857,1.757143,-9.688571,-13.777143,-13.368571,-3.805714,...,6.78,-20.13,2.02,3.20,0.10,2.38,2.71,4.85,0.09,3.47
2759902,56043,2016-12-27,0.0,0.751429,82.667143,2.022857,-6.534286,-11.001429,-10.767143,0.274286,...,9.98,-10.68,2.94,4.16,1.01,1.44,4.70,6.76,1.38,2.37
2759903,56043,2017-01-03,0.0,0.420000,82.940000,1.845000,-6.792500,-11.695000,-11.505000,0.185000,...,10.62,-10.55,2.31,3.47,0.41,3.06,3.37,5.26,0.66,4.60

In [25]:
train_stats.describe()

,fips,score,PRECTOT_mean,PS_mean,QV2M_mean,T2M_mean,T2MDEW_mean,T2MWET_mean,T2M_MAX_mean,T2M_MIN_mean,...,T2M_RANGE_min,TS_min,WS10M_min,WS10M_MAX_min,WS10M_MIN_min,WS10M_RANGE_min,WS50M_min,WS50M_MAX_min,WS50M_MIN_min,WS50M_RANGE_min
count,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,...,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06,2.759904e+06
mean,3.067038e+04,8.247404e-01,2.644114e+00,9.665571e+01,7.813150e+00,1.279292e+01,6.944456e+00,6.980326e+00,1.867214e+01,7.403810e+00,...,7.417510e+00,9.267097e+00,2.177891e+00,3.323689e+00,6.618041e-01,1.829856e+00,3.471457e+00,5.594512e+00,9.430591e-01,2.699401e+00
std,1.497911e+04,1.223709e+00,3.046340e+00,5.428852e+00,4.380519e+00,1.053505e+01,9.490316e+00,9.444574e+00,1.102417e+01,1.014268e+01,...,2.983333e+00,1.172647e+01,9.211920e-01,1.393489e+00,5.522409e-01,9.059153e-01,1.220201e+00,1.703761e+00,8.109002e-01,1.012858e+00
min,1.001000e+03,0.000000e+00,0.000000e+00,6.735286e+01,3.485714e-01,-2.836286e+01,-2.870143e+01,-2.860429e+01,-2.309143e+01,-3.478429e+01,...,3.000000e-02,-3.823000e+01,2.500000e-01,5.400000e-01,0.000000e+00,1.600000e-01,4.000000e-01,7.000000e-01,0.000000e+00,3.200000e-01
25%,1.904450e+04,0.000000e+00,4.642857e-01,9.589714e+01,4.081429e+00,4.812857e+00,-4.400000e-01,-3.914286e-01,1.066714e+01,-3.557143e-01,...,5.250000e+00,4.500000e-01,1.470000e+00,2.220000e+00,2.600000e-01,1.120000e+00,2.560000e+00,4.330000e+00,3.700000e-01,1.970000e+00
50%,2.921200e+04,0.000000e+00,1.687143e+00,9.831429e+01,6.960000e+00,1.374571e+01,7.367143e+00,7.378571e+00,2.007429e+01,7.837143e+00,...,7.210000e+00,9.720000e+00,2.000000e+00,3.040000e+00,5.000000e-01,1.640000e+00,3.300000e+00,5.370000e+00,7.000000e-01,2.520000e+00
75%,4.600750e+04,1.190200e+00,3.777143e+00,9.993714e+01,1.110714e+01,2.163714e+01,1.492000e+01,1.492143e+01,2.762429e+01,1.582000e+01,...,9.370000e+00,1.903000e+01,2.730000e+00,4.190000e+00,9.000000e-01,2.370000e+00,4.210000e+00,6.710000e+00,1.280000e+00,3.250000e+00
max,5.604300e+04,5.000000e+00,5.335429e+01,1.030429e+02,2.115143e+01,3.902429e+01,2.618000e+01,2.618000e+01,4.709714e+01,3.186286e+01,...,2.240000e+01,4.032000e+01,9.590000e+00,1.350000e+01,8.530000e+00,9.320000e+00,1.204000e+01,1.581000e+01,8.860000e+00,1.143000e+01

### Directly using Merge to correctly join on specified column

In [26]:
train_soil_stats = pd.merge(train_stats, soil_set, on='fips', how='inner')

In [27]:
train_soil_stats

,fips,date,score,PRECTOT_mean,PS_mean,QV2M_mean,T2M_mean,T2MDEW_mean,T2MWET_mean,T2M_MAX_mean,...,CULTRF_LAND,CULTIR_LAND,CULT_LAND,SQ1,SQ2,SQ3,SQ4,SQ5,SQ6,SQ7
0,1001,2000-01-04,1.0,5.005000,100.375000,9.562500,15.330000,12.707500,12.710000,21.145000,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
1,1001,2000-01-11,2.0,5.684286,100.665714,5.951429,9.192857,4.908571,4.934286,15.732857,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
2,1001,2000-01-18,2.0,0.832857,101.275714,6.692857,10.118571,6.711429,6.735714,16.931429,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
3,1001,2000-01-25,2.0,3.641429,100.187143,4.220000,4.458571,-0.224286,-0.132857,10.217143,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
4,1001,2000-02-01,1.0,3.617143,100.992857,3.178571,0.764286,-2.791429,-2.714286,6.275714,...,56.293411,1.014811,57.308224,1,1,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2759899,56043,2016-12-06,0.0,0.471429,82.668571,1.991429,-5.320000,-11.062857,-10.812857,-0.422857,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1
2759900,56043,2016-12-13,0.0,0.350000,82.865714,1.884286,-7.621429,-12.220000,-11.961429,-2.532857,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1
2759901,56043,2016-12-20,0.0,0.812857,82.752857,1.757143,-9.688571,-13.777143,-13.368571,-3.805714,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1
2759902,56043,2016-12-27,0.0,0.751429,82.667143,2.022857,-6.534286,-11.001429,-10.767143,0.274286,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1
2759903,56043,2017-01-03,0.0,0.420000,82.940000,1.845000,-6.792500,-11.695000,-11.505000,0.185000,...,0.000000,0.000000,0.000000,1,1,1,1,1,1,1

#### There are the same number of rows in the training set and the merged dataset.

In [28]:
train_soil_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2759904 entries, 0 to 2759903
Data columns (total 88 columns):
 #   Column            Dtype
---  ------            -----
 0   fips              int64
 1   date              datetime64[ns]
 2   score             float64
 3   PRECTOT_mean      float64
 4   PS_mean           float64
 5   QV2M_mean         float64
 6   T2M_mean          float64
 7   T2MDEW_mean       float64
 8   T2MWET_mean       float64
 9   T2M_MAX_mean      float64
 10  T2M_MIN_mean      float64
 11  T2M_RANGE_mean    float64
 12  TS_mean           float64
 13  WS10M_mean        float64
 14  WS10M_MAX_mean    float64
 15  WS10M_MIN_mean    float64
 16  WS10M_RANGE_mean  float64
 17  WS50M_mean        float64
 18  WS50M_MAX_mean    float64
 19  WS50M_MIN_mean    float64
 20  WS50M_RANGE_mean  float64
 21  PRECTOT_max       float64
 22  PS_max            float64
 23  QV2M_max          float64
 24  T2M_max           float64
 25  T2MDEW_max        float64
 26  T2MWET_max        float64
 27  T2M_MAX_max       float64
 28  T2M_MIN_max       float64
 29  T2M_RANGE_max     float64
 30  TS_max            float64
 31  WS10M_max         float64
 32  WS10M_MAX_max     float64
 33  WS10M_MIN_max     float64
 34  WS10M_RANGE_max   float64
 35  WS50M_max         float64
 36  WS50M_MAX_max     float64
 37  WS50M_MIN_max     float64
 38  WS50M_RANGE_max   float64
 39  PRECTOT_min       float64
 40  PS_min            float64
 41  QV2M_min          float64
 42  T2M_min           float64
 43  T2MDEW_min        float64
 44  T2MWET_min        float64
 45  T2M_MAX_min       float64
 46  T2M_MIN_min       float64
 47  T2M_RANGE_min     float64
 48  TS_min            float64
 49  WS10M_min         float64
 50  WS10M_MAX_min     float64
 51  WS10M_MIN_min     float64
 52  WS10M_RANGE_min   float64
 53  WS50M_min         float64
 54  WS50M_MAX_min     float64
 55  WS50M_MIN_min     float64
 56  WS50M_RANGE_min   float64
 57  lat               float64
 58  lon               float64
 59  elevation         int64
 60  slope1            float64
 61  slope2            float64
 62  slope3            float64
 63  slope4            float64
 64  slope5            float64
 65  slope6            float64
 66  slope7            float64
 67  slope8            float64
 68  aspectN           float64
 69  aspectE           float64
 70  aspectS           float64
 71  aspectW           float64
 72  aspectUnknown     float64
 73  WAT_LAND          float64
 74  NVG_LAND          float64
 75  URB_LAND          float64
 76  GRS_LAND          float64
 77  FOR_LAND          float64
 78  CULTRF_LAND       float64
 79  CULTIR_LAND       float64
 80  CULT_LAND         float64
 81  SQ1               int64
 82  SQ2               int64
 83  SQ3               int64
 84  SQ4               int64
 85  SQ5               int64
 86  SQ6               int64
 87  SQ7               int64
dtypes: datetime64[ns](1), float64(78), int64(9)
memory usage: 1.8 GB

### Exporting the Merged Training and Soil Dataset

In [30]:
# Export the merged training (meteorological) data that has been resampled with mean values
# and the soil data that does not vary with time.
train_soil_stats.to_csv(local_data + 'train_soil_stats.csv',
                       index_label='index')